.wrapper{
	display: block;
	background: #fff; 
}

.input{
	display: block;
	top: 5px;
	left: 100px;
	right: 100px;
	/*margin: 0 200px;*/
	padding: 20px 100px;
	/*background: #0baa46;*/
}

#main-input{
	margin: 20px 0px;
	padding: 0 100px;
}

#view{
	
}